<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alipay.xmedia.algorithm.algorithm"
    android:versionCode="200"
    android:versionName="2.0.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true" >
    </application>

</manifest>